.container {
  width: 800px;
  margin: 200px auto 0;
  text-align: center;
  position: relative;
  z-index: 1;
}

.container .message {
  color: #fff;
  text-shadow: 0 3px 0 rgba(0, 0, 0, 0.3);
  font-size: 125px;
  font-weight: 900;
  margin-bottom: 0px;
}

.container .submessage {
  color: #fff;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.3);
  font-size: 40px;
  font-weight: 900;
}

body {
	background: #000;
}

body > .footer {
	position: fixed;
	bottom: 0;
}