.container {
  width: 800px;
  margin: 200px auto 0;
  text-align: center;
  position: relative;
  z-index: 1;
}

.container .message {
  color: #fff;
  text-shadow: 0 3px 0 rgba(0, 0, 0, 0.3);
  font-size: 125px;
  font-weight: 900;
  margin-bottom: 0px;
}

.container .submessage {
  color: #fff;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.3);
  font-size: 40px;
  font-weight: 900;
}

.video {
	position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url("/images/background.png") no-repeat;
  background-size: cover;
}

body > .footer {
	position: fixed;
	bottom: 0;
}