<% include ../includes/start.ejs %>
<div class="container">
  <div class="message">#this</div>
  <div class="submessage">Share photos with your friends.</div>
</div>
<video class="video" loop>
  <source src="/videos/background.webm" type="video/webm">
</video>
<% include ../includes/footer.ejs %>
<% include ../includes/end.ejs %>
