<% include ../includes/start.ejs %>
<div class="container">
  <div class="message">#this</div>
  <div class="submessage">Share photos with your friends.</div>
</div>
<% include ../includes/footer.ejs %>
<% include ../includes/end.ejs %>
