<% include ../includes/start.ejs %>
<div class="container">
  <div class="message">
	  <span style="color: #00C7FA;">#</span><span style="color: #E36374;">t</span><span style="color: #01D5B5;">h</span><span style="color: #995CDF;">i</span><span style="color: #EBA363;">s</span>
	</div>
  <div class="submessage">Share photos with your friends.</div>
</div>
<video class="video" loop>
  <source src="/videos/background.webm" type="video/webm">
</video>
<% include ../includes/footer.ejs %>
<% include ../includes/end.ejs %>
