<% include ../includes/start.ejs %>
<div class="container">
  <h1 class="message">
	  <span style="color: #00C7FA;">#</span><span style="color: #E36374;">t</span><span style="color: #01D5B5;">h</span><span style="color: #995CDF;">i</span><span style="color: #EBA363;">s</span>
	</h1>
  <h2 class="submessage">Share photos with your friends.</h2>
</div>
<% include ../includes/footer.ejs %>
<% include ../includes/end.ejs %>
