<% include ../includes/start.ejs %>
<div class="container">
  <div class="message">404</div>
  <div class="submessage">We couldn't find your page.</div>
</div>
<% include ../includes/footer.ejs %>
<% include ../includes/end.ejs %>
